Alla grafer ska exporteras till en undermapp som heter Visualiseringar i din mapp för labben. Exportera matplotlib/seaborngrafer i png-format och plotly-grafer som html-filer. Ge relevanta namn till dina filer så det blir lätt att referera till dem. Notera att du behöver ställa in bakgrundsfärg när du sparar matplotlibgrafer, annars blir de transparenta och svåra att läsa.

---

## Laboration - Covid-19
### Uppgift 1 - uppvärmning covid-19 data

Covid-19 pandemin har påverkat hela världen med många dödsfall som följd. Ett kraftfullt verktyg för att förstå hur viruset påverkar världen är att analysera och visualisera data för att förstå trender.

Datasets:

[Covid-19 bekräftade fall](https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/statistik-och-analyser/bekraftade-fall-i-sverige/)

[Statistik för vaccination mot covid-19](https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/statistik-och-analyser/statistik-over-registrerade-vaccinationer-covid-19/)


Börja med att manuellt läsa Excel-filerna och de olika bladen i varje dokument. Använd därefter Pandas för att läsa in bladet: "Veckodata Riket" i covid19-filen.

- a) Gör initial dataanalys för att snabbt få en överblick över datasetet. Använd metoder som ex. info(), describe(), value_counts(), head(), columns, index för att snabbt få en överblick.
- b) Slå ihop kolumnerna "år" och "veckonummer" till en kolumn med namn "Vecka" med följande format:
```
Vecka
2020v6
2020v7
...
2022v41
```

För deluppgifterna c-f, använd både Seaborn och Plotly express. För Seaborn, använd subplots så du får 2x2 grid med graferna.
- c) Rita en linjediagram som visar avlidna fall per vecka från 2020v6 till nu.
- d) Rita en linjediagram som visar nya fall per vecka från 2020v6 till nu.
- e) Rita linjediagram av både avlidna fall per vecka och nya fall per vecka i samma fönster från 2020v6 till nu.
- f) Rita linjediagram av kumulativt antal fall från 2020v6 till nu.

In [171]:
import pandas as pd

veckodata = pd.read_excel("Data/covid19.xlsx", sheet_name = "Veckodata Riket")

year = veckodata["år"]
week = veckodata["veckonummer"]

veckodata.head()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.0
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.0
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.0
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.0
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.0

In [183]:
# Checking if there are any issues before merging.

print(
    f"Number of rows are same: {len(year) == len(week)=}\n"
    f"From {year.iloc[0], week.iloc[0]}, to {year.iloc[-1], week.iloc[-1]}\n" # Check start and end
    )

week.isnull # Check for missing values

Number of rows are same: len(year) == len(week)=True
From (2020, 6), to (2022, 43)

<bound method Series.isnull of 0       6
1       7
2       8
3       9
4      10
       ..
138    39
139    40
140    41
141    42
142    43
Name: veckonummer, Length: 143, dtype: int64>

In [190]:
# Great! Should be easy to merge?

df = pd.merge(year, week, right_index=True, left_index=True)
df

       år  veckonummer
0    2020            6
1    2020            7
2    2020            8
3    2020            9
4    2020           10
..    ...          ...
138  2022           39
139  2022           40
140  2022           41
141  2022           42
142  2022           43

[143 rows x 2 columns]

In [188]:
# Yeah, but that's the wrong type of merge. We only want one column in string format.

df =  df.astype({"år":"str", "veckonummer":"str"}) # Convert to string

df["Time"] = df["år"] + "v" + df["veckonummer"] # Create new column by squeezing columns together

df["Time"].head()

0     2020v6
1     2020v7
2     2020v8
3     2020v9
4    2020v10
Name: Time, dtype: object

In [175]:
veckodata["år"] = df["Time"].values # Replacing column
veckodata.drop(["veckonummer"], axis=1) # Dropping old columns

veckodata.tail(3) # Checking results

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
140,2022v41,41,3408,33,72,2606445,25112,15,9545,94,9.1,20597,1984.400024
141,2022v42,42,3278,32,65,2609723,25144,20,9565,70,6.7,20667,1991.199951
142,2022v43,43,3502,34,66,2613225,25177,14,9579,37,3.6,20704,1994.699951

- c) Rita en linjediagram som visar avlidna fall per vecka från 2020v6 till nu.
- d) Rita en linjediagram som visar nya fall per vecka från 2020v6 till nu.
- e) Rita linjediagram av både avlidna fall per vecka och nya fall per vecka i samma fönster från 2020v6 till nu.
- f) Rita linjediagram av kumulativt antal fall från 2020v6 till nu.

In [ ]:
# Nice. TODO: Plot
import seaborn as sns
import plotly.express as px

### Uppgift 2 - uppvärmning vaccindata
I uppgifterna nedan ska du använda dig av datasetet vaccin och bladet Vaccinerade kommun och ålder. Använd Plotly express för att rita diagrammen nedan för de uppgifter som kräver diagram. Använd Pandas för att svara på frågor om datasetet.

- a) Hur många län finns representerade i datasetet?
- b) Hur många kommuner finns representerade i datasetet?
- c) Hur stor är befolkningen som är representerad i datasetet?
- d) Beräkna hur många barn under 18 år det finns i Sverige baserat på det här datasetet. Du får leta upp statistik på hur stor totala befolkningen är i Sverige.
- e) Rita ett diagram som visar på åldersfördelningen av Sveriges befolkning.
- f) Rita stapeldiagram för andel med minst 1 dos per län, andel två doser per län och andel tre doser per län
- g) Tag Västra Götalands län och Stockholms län och rita diagram över andelen vaccinerade med minst 1 dos, två doser, tre doser och fyra doser.


### Uppgift 3 - KPIer & explorativ dataanalys
Definiera 3-6 KPIer utöver de som använts i ovanstående uppgifter och gör explorativ dataanalys på flera sheets på båda Excel-filerna. Se till att dokumentera vad du undersöker med markdown kombinerad med kod i Jupyter notebook eller om du använder Pythonskript, skriv en markdown vid sidan om. Dokumentera också vad du kommer fram till och spara alla visualiseringar.

### Uppgift 4 (bonusuppgift)
Följ länkarna från FHM för att komma till ECDC, WHO och undersök Covid-19 globalt. Dokumentera vad du undersöker och vad du kommer fram till. Notera att du får navigera och läsa till dig i deras hemsidor för att hitta relevant data.