Alla grafer ska exporteras till en undermapp som heter Visualiseringar i din mapp för labben. Exportera matplotlib/seaborngrafer i png-format och plotly-grafer som html-filer. Ge relevanta namn till dina filer så det blir lätt att referera till dem. Notera att du behöver ställa in bakgrundsfärg när du sparar matplotlibgrafer, annars blir de transparenta och svåra att läsa.

---

## Laboration - Covid-19
### Uppgift 1 - uppvärmning covid-19 data

Covid-19 pandemin har påverkat hela världen med många dödsfall som följd. Ett kraftfullt verktyg för att förstå hur viruset påverkar världen är att analysera och visualisera data för att förstå trender.

Datasets:

[Covid-19 bekräftade fall](https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/statistik-och-analyser/bekraftade-fall-i-sverige/)

[Statistik för vaccination mot covid-19](https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/statistik-och-analyser/statistik-over-registrerade-vaccinationer-covid-19/)


Börja med att manuellt läsa Excel-filerna och de olika bladen i varje dokument. Använd därefter Pandas för att läsa in bladet: "Veckodata Riket" i covid19-filen.

- a) Gör initial dataanalys för att snabbt få en överblick över datasetet. Använd metoder som ex. info(), describe(), value_counts(), head(), columns, index för att snabbt få en överblick.
- b) Slå ihop kolumnerna "år" och "veckonummer" till en kolumn med namn "Vecka" med följande format:
```
Vecka
2020v6
2020v7
...
2022v41
```

För deluppgifterna c-f, använd både Seaborn och Plotly express. För Seaborn, använd subplots så du får 2x2 grid med graferna.
- c) Rita en linjediagram som visar avlidna fall per vecka från 2020v6 till nu.
- d) Rita en linjediagram som visar nya fall per vecka från 2020v6 till nu.
- e) Rita linjediagram av både avlidna fall per vecka och nya fall per vecka i samma fönster från 2020v6 till nu.
- f) Rita linjediagram av kumulativt antal fall från 2020v6 till nu.

In [58]:
import pandas as pd

veckodata = pd.read_excel("Data/covid19.xlsx", sheet_name = "Veckodata Riket")

year = veckodata["år"]
week = veckodata["veckonummer"]

veckodata.head()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020,6,1,0,0,1,0,0,0,0,0.0,0,0.0
1,2020,7,0,0,0,1,0,0,0,0,0.0,0,0.0
2,2020,8,0,0,0,1,0,0,0,0,0.0,0,0.0
3,2020,9,13,0,0,14,0,0,0,0,0.0,0,0.0
4,2020,10,211,2,2,225,2,3,3,0,0.0,0,0.0

In [59]:
# Yeah, but that's the wrong type of merge. We only want one column in string format

df = veckodata.astype({"år":"str", "veckonummer":"str"}) # Convert to string

df["Time"] = df["år"] + "v" + df["veckonummer"] # Create new column by squeezing columns together

df["Time"].head()

0     2020v6
1     2020v7
2     2020v8
3     2020v9
4    2020v10
Name: Time, dtype: object

In [60]:
veckodata["år"] = df["Time"].values # Replacing column
veckodata.rename(columns = {"år":"Week"}, inplace=True) # Renaming column
veckodata.drop(["veckonummer"], axis=1, inplace=True) # Dropping old columns

In [61]:
veckodata.tail(40) # Checking results

,Week,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
103,2022v4,265043,2554,5024,2158928,20800,98,8640,301,29.000000,16219,1562.599976
104,2022v5,185716,1789,4343,2344644,22590,90,8730,359,34.599998,16578,1597.199951
105,2022v6,62338,601,2390,2406982,23190,85,8815,329,31.700001,16907,1628.900024
106,2022v7,22160,214,815,2429142,23404,63,8878,361,34.799999,17268,1663.699951
107,2022v8,17676,170,384,2446818,23574,58,8936,319,30.700001,17587,1694.400024
108,2022v9,12586,121,291,2459404,23695,39,8975,273,26.299999,17860,1720.699951
109,2022v10,10110,97,218,2469514,23793,43,9018,204,19.700001,18064,1740.400024
110,2022v11,8502,82,179,2478016,23875,24,9042,195,18.799999,18259,1759.199951
111,2022v12,7040,68,150,2485056,23942,24,9066,157,15.100000,18416,1774.300049
112,2022v13,4952,48,116,2490008,23990,23,9089,122,11.800000,18538,1786.099976
113,2022v14,4091,39,87,2494099,24030,30,9119,120,11.600000,18658,1797.599976
114,2022v15,3070,30,69,2497169,24059,25,9144,71,6.800000,18729,1804.500000
115,2022v16,2525,24,54,2499694,24083,20,9164,70,6.700000,18799,1811.199951
116,2022v17,2319,22,46,2502013,24106,14,9178,51,4.900000,18850,1816.099976
117,2022v18,1940,19,41,2503953,24124,10,9188,52,5.000000,18902,1821.099976
118,2022v19,1656,16,35,2505609,24140,11,9199,42,4.000000,18944,1825.199951
119,2022v20,1817,18,34,2507426,24158,5,9204,41,4.000000,18985,1829.099976
120,2022v21,1316,13,31,2508742,24171,3,9207,26,2.500000,19011,1831.599976
121,2022v22,1255,12,25,2509997,24183,9,9216,23,2.200000,19034,1833.800049
122,2022v23,1896,18,30,2511893,24201,8,9224,28,2.700000,19062,1836.500000
123,2022v24,2165,21,39,2514058,24222,7,9231,22,2.100000,19084,1838.699951
124,2022v25,3090,30,51,2517148,24252,14,9245,36,3.500000,19120,1842.099976
125,2022v26,4118,40,70,2521266,24291,9,9254,42,4.000000,19162,1846.199951
126,2022v27,4236,41,81,2525502,24332,9,9263,59,5.700000,19221,1851.900024
127,2022v28,5442,52,93,2530944,24385,19,9282,62,6.000000,19283,1857.800049
128,2022v29,5951,57,109,2536895,24442,28,9310,114,11.000000,19397,1868.800049
129,2022v30,5705,55,112,2542600,24497,13,9323,95,9.200000,19492,1878.000000
130,2022v31,6235,60,115,2548835,24557,23,9346,110,10.600000,19602,1888.599976
131,2022v32,6638,64,124,2555473,24621,27,9373,120,11.600000,19722,1900.099976
132,2022v33,6320,61,125,2561793,24682,29,9402,134,12.900000,19856,1913.000000
133,2022v34,4868,47,108,2566661,24729,13,9415,85,8.200000,19941,1921.199951
134,2022v35,4485,43,90,2571146,24772,27,9442,96,9.200000,20037,1930.500000
135,2022v36,4712,45,88,2575858,24817,15,9457,85,8.200000,20122,1938.699951
136,2022v37,4978,48,93,2580836,24865,13,9470,100,9.600000,20222,1948.300049
137,2022v38,4670,45,93,2585506,24910,23,9493,89,8.600000,20311,1956.900024
138,2022v39,13532,130,175,2599038,25041,17,9510,94,9.100000,20405,1965.900024
139,2022v40,3999,39,169,2603037,25079,20,9530,98,9.400000,20503,1975.400024
140,2022v41,3408,33,72,2606445,25112,15,9545,94,9.100000,20597,1984.400024
141,2022v42,3278,32,65,2609723,25144,20,9565,70,6.700000,20667,1991.199951
142,2022v43,3502,34,66,2613225,25177,14,9579,37,3.600000,20704,1994.699951

- c) Rita en linjediagram som visar avlidna fall per vecka från 2020v6 till nu.
- d) Rita en linjediagram som visar nya fall per vecka från 2020v6 till nu.
- e) Rita linjediagram av både avlidna fall per vecka och nya fall per vecka i samma fönster från 2020v6 till nu.
- f) Rita linjediagram av kumulativt antal fall från 2020v6 till nu.

In [ ]:
# Nice. TODO: Plot
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


fig, axes = plt.subplots(2,2, figsize = (16, 8), constrained_layout = False)

titles = ["Antal Avlidna / Vecka", "Antal Fall / Vecka", "Avlidna och Fall / Vecka", "Kumulativt Antal Fall"]
y_lables = ["Antal Individer"] * 4

sns.lineplot(df, x = "Week", y = "Antal_avlidna_vecka", ax = axes[0, 0])
sns.lineplot(df, x = "Week", y = "Antal_fall_vecka", ax = axes[0, 1])
sns.lineplot(df, x = "Week", y = "Antal_fall_vecka", ax = axes[1, 0], label = "Antal Fall") # TODO: using log scale shows strange result on 2020v6 (0 cases)
sns.lineplot(df, x = "Week", y = "Antal_avlidna_vecka", ax = axes[1, 0], label = "Antal Avlidna", color = "red")
axes[1, 0].set_yscale('log')
sns.lineplot(df, x = "Week", y = "Kum_antal_fall", ax = axes[1, 1])

for ax, title, y_label in zip(axes.reshape(-1), titles, y_lables):
    ax.set_title(title)
    ax.set_ylabel(y_label)
    ax.xaxis.set_major_locator(plt.MaxNLocator(20)) # showing 20 tick labels
    ax.xaxis.set_tick_params(rotation=-45) # draws ticks at bottom of x axis with rotation
    plt.setp(ax.get_xticklabels(), ha="left", rotation_mode="anchor") # anchor left part of label to tick

fig.suptitle("Covid Fall Sedan 2020v6", fontsize = 24);

### Uppgift 2 - uppvärmning vaccindata
I uppgifterna nedan ska du använda dig av datasetet vaccin och bladet Vaccinerade kommun och ålder. Använd Plotly express för att rita diagrammen nedan för de uppgifter som kräver diagram. Använd Pandas för att svara på frågor om datasetet.

- a) Hur många län finns representerade i datasetet?
- b) Hur många kommuner finns representerade i datasetet?
- c) Hur stor är befolkningen som är representerad i datasetet?
- d) Beräkna hur många barn under 18 år det finns i Sverige baserat på det här datasetet. Du får leta upp statistik på hur stor totala befolkningen är i Sverige.
- e) Rita ett diagram som visar på åldersfördelningen av Sveriges befolkning.
- f) Rita stapeldiagram för andel med minst 1 dos per län, andel två doser per län och andel tre doser per län
- g) Tag Västra Götalands län och Stockholms län och rita diagram över andelen vaccinerade med minst 1 dos, två doser, tre doser och fyra doser.

---

### Uppgift 3 - KPIer & explorativ dataanalys
Definiera 3-6 KPIer utöver de som använts i ovanstående uppgifter och gör explorativ dataanalys på flera sheets på båda Excel-filerna. Se till att dokumentera vad du undersöker med markdown kombinerad med kod i Jupyter notebook eller om du använder Pythonskript, skriv en markdown vid sidan om. Dokumentera också vad du kommer fram till och spara alla visualiseringar.

In [ ]:
covid_swe = pd.read_excel("Data/covid19.xlsx", sheet_name=None)
vaccine_swe = pd.read_excel("Data/vaccin.xlsx")

covid_swe

{'Antal per dag region':      Statistikdatum  Totalt_antal_fall  Blekinge  Dalarna  Gotland  Gävleborg  \
 0        2020-02-04                  1         0        0        0          0
 1        2020-02-05                  0         0        0        0          0
 2        2020-02-06                  0         0        0        0          0
 3        2020-02-07                  0         0        0        0          0
 4        2020-02-08                  0         0        0        0          0
 ...             ...                ...       ...      ...      ...        ...
 998      2022-10-29                340         2       18        1          0
 999      2022-10-30                194         2       18        0          3
 1000     2022-10-31                468         5       11        0          7
 1001     2022-11-01                697         3       44        1          8
 1002     2022-11-02                607        11       41        0          3

       Halland  Jämtland_Härjedalen  Jönköping  Kalmar  ...  Stockholm  \
 0           0                    0          1       0  ...          0
 1           0                    0          0       0  ...          0
 2           0                    0          0       0  ...          0
 3           0                    0          0       0  ...          0
 4           0                    0          0       0  ...          0
 ...       ...                  ...        ...     ...  ...        ...
 998        13                    2         23       4  ...         69
 999        23                    1         11       2  ...         49
 1000        8                    6         11      20  ...         77
 1001       42                    7         30      36  ...         77
 1002       37                    7         18      29  ...         84

       Sörmland  Uppsala  Värmland  Västerbotten  Västernorrland  Västmanland  \
 0            0        0         0             0               0            0
 1            0        0         0             0               0            0
 2            0        0         0             0               0            0
 3            0        0         0             0               0            0
 4            0        0         0             0               0            0
 ...        ...      ...       ...           ...             ...          ...
 998          5        4        12            25               0            7
 999          9       29         3             6               0            0
 1000        16       13        18            11              36           24
 1001        45       23        22            41              11           32
 1002        24       15        12            31              40           18

       Västra_Götaland  Örebro  Östergötland
 0                   0       0             0
 1                   0       0             0
 2                   0       0             0
 3                   0       0             0
 4                   0       0             0
 ...               ...     ...           ...
 998                41      44             7
 999                 3      16             4
 1000               58      26            19
 1001               57      64            22
 1002               73      33            21

 [1003 rows x 23 columns],
 'Antal avlidna per dag':            Datum_avliden  Antal_avlidna
 0    2020-03-11 00:00:00              1
 1    2020-03-12 00:00:00              0
 2    2020-03-13 00:00:00              1
 3    2020-03-14 00:00:00              1
 4    2020-03-15 00:00:00              2
 ..                   ...            ...
 963  2022-10-30 00:00:00              2
 964  2022-10-31 00:00:00              0
 965  2022-11-01 00:00:00              0
 966  2022-11-02 00:00:00              0
 967       Uppgift saknas             32

 [968 rows x 2 columns],
 'Antal intensivvårdade per dag':     Datum_vårdstart  Antal_intensivvårdade
 0        2020-03-06                      1
 1        2020-03-07                      1
 2        2020-03-08                      1
 3        2020-03-09                      0
 4        2020-03-10                      2
 ..              ...                    ...
 967      2022-10-29                      3
 968      2022-10-30                      3
 969      2022-10-31                      2
 970      2022-11-01                      0
 971      2022-11-02                      1

 [972 rows x 2 columns],
 'Totalt antal per region':                  Region  Totalt_antal_fall  Fall_per_100000_inv  \
 0              Blekinge              30866         19394.711670
 1               Dalarna              75286         26166.565430
 2               Gotland              11880         19786.651367
 3             Gävleborg              74838         26032.677246
 4               Halland             108997         32401.013916
 5   Jämtland Härjedalen              34388         26228.635254
 6             Jönköping              89804         24622.063477
 7                Kalmar              62960         25598.851074
 8             Kronoberg              51593         25525.897461
 9            Norrbotten              50868         20372.598389
 10                Skåne             347090         25024.797363
 11            Stockholm             607121         25413.071289
 12             Sörmland              68061         22752.045166
 13              Uppsala              93873         24227.080078
 14             Värmland              69379         24529.213623
 15         Västerbotten              60351         22107.830566
 16       Västernorrland              56363         23033.294434
 17          Västmanland              78567         28373.183105
 18      Västra Götaland             444628         25656.645020
 19               Örebro              99199         32468.114746
 20         Östergötland              98885         21178.400391

     Totalt_antal_intensivvårdade  Totalt_antal_avlidna
 0                             85                   184
 1                            261                   546
 2                             46                    83
 3                            334                   755
 4                            229                   522
 5                             97                   205
 6                            417                   761
 7                            136                   386
 8                            162                   410
 9                            268                   467
 10                           821                  2597
 11                          2656                  5656
 12                           447                   663
 13                           471                   725
 14                           194                   413
 15                           195                   396
 16                           219                   678
 17                           156                   534
 18                          1674                  3357
 19                           276                   525
 20                           441                   890  ,
 'Totalt antal per kön':               Kön  Totalt_antal_fall  Totalt_antal_intensivvårdade  \
 0             Man            1211237                          6579
 1          Kvinna            1383473                          2959
 2  Uppgift saknas              20287                            47

    Totalt_antal_avlidna
 0                 11331
 1                  9315
 2                   107  ,
 'Totalt antal per åldersgrupp':        Åldersgrupp  Totalt_antal_fall  Totalt_antal_intensivvårdade  \
 0        Ålder_0_9             138102                           111
 1      Ålder_10_19             355852                           100
 2      Ålder_20_29             418826                           286
 3      Ålder_30_39             493884                           493
 4      Ålder_40_49             475087                          1000
 5      Ålder_50_59             379085                          1936
 6      Ålder_60_69             180523                          2605
 7      Ålder_70_79              87527                          2407
 8      Ålder_80_89              58644                           620
 9    Ålder_90_plus              26919                            21
 10  Uppgift saknas                548                             6

     Totalt_antal_avlidna
 0                     17
 1                     10
 2                     41
 3                     71
 4                    174
 5                    525
 6                   1427
 7                   4675
 8                   8362
 9                   5447
 10                     4  ,
 'Veckodata Region':         år  veckonummer        Region  Antal_fall_vecka  Kum_antal_fall  \
 0     2020            1      Blekinge                 0               0
 1     2020            2      Blekinge                 0               0
 2     2020            3      Blekinge                 0               0
 3     2020            4      Blekinge                 0               0
 4     2020            5      Blekinge                 0               0
 ...    ...          ...           ...               ...             ...
 3103  2022           39  Östergötland               238           98214
 3104  2022           40  Östergötland               204           98418
 3105  2022           41  Östergötland               145           98563
 3106  2022           42  Östergötland               152           98715
 3107  2022           43  Östergötland               108           98823

       Antal_intensivvårdade_vecka  Kum_antal_intensivvårdade  \
 0                               0                          0
 1                               0                          0
 2                               0                          0
 3                               0                          0
 4                               0                          0
 ...                           ...                        ...
 3103                            2                        439
 3104                            0                        439
 3105                            1                        440
 3106                            0                        440
 3107                            1                        441

       Antal_avlidna_vecka  Kum_antal_avlidna  Antal_fall_100000inv_vecka  \
 0                       0                  0                           0
 1                       0                  0                           0
 2                       0                  0                           0
 3                       0                  0                           0
 4                       0                  0                           0
 ...                   ...                ...                         ...
 3103                    7                878                          51
 3104                    3                881                          44
 3105                    4                885                          31
 3106                    4                889                          33
 3107                    0                889                          23

       Kum_fall_100000inv
 0                      0
 1                      0
 2                      0
 3                      0
 4                      0
 ...                  ...
 3103               21024
 3104               21067
 3105               21098
 3106               21131
 3107               21154

 [3108 rows x 11 columns],
 'Veckodata Kommun_stadsdel':          år  veckonummer KnKod      KnNamn Stadsdel Kommun_stadsdel  \
 0      2020            1  1440         Ale      NaN             Ale
 1      2020            2  1440         Ale      NaN             Ale
 2      2020            3  1440         Ale      NaN             Ale
 3      2020            4  1440         Ale      NaN             Ale
 4      2020            5  1440         Ale      NaN             Ale
 ...     ...          ...   ...         ...      ...             ...
 47503  2022           39  2518  Övertorneå      NaN      Övertorneå
 47504  2022           40  2518  Övertorneå      NaN      Övertorneå
 47505  2022           41  2518  Övertorneå      NaN      Övertorneå
 47506  2022           42  2518  Övertorneå      NaN      Övertorneå
 47507  2022           43  2518  Övertorneå      NaN      Övertorneå

        tot_antal_fall_per10000inv  antal_fall_per10000_inv tot_antal_fall  \
 0                             0.0                      0.0              0
 1                             0.0                      0.0              0
 2                             0.0                      0.0              0
 3                             0.0                      0.0              0
 4                             0.0                      0.0              0
 ...                           ...                      ...            ...
 47503                      1169.0                      0.0            493
 47504                      1169.0                      0.0            493
 47505                      1169.0                      0.0            493
 47506                      1169.0                      0.0            493
 47507                      1171.0                      2.0            494

       nya_fall_vecka
 0                  0
 1                  0
 2                  0
 3                  0
 4                  0
 ...              ...
 47503              0
 47504              0
 47505              0
 47506              0
 47507              1

 [47508 rows x 10 columns],
 'Veckodata Riket':        år  veckonummer  Antal_fall_vecka  Antal_fall_100000inv_vecka  \
 0    2020            6                 1                           0
 1    2020            7                 0                           0
 2    2020            8                 0                           0
 3    2020            9                13                           0
 4    2020           10               211                           2
 ..    ...          ...               ...                         ...
 138  2022           39             13532                         130
 139  2022           40              3999                          39
 140  2022           41              3408                          33
 141  2022           42              3278                          32
 142  2022           43              3502                          34

      Antal_fall_100000inv_14dagar  Kum_antal_fall  Kum_fall_100000inv  \
 0                               0               1                   0
 1                               0               1                   0
 2                               0               1                   0
 3                               0              14                   0
 4                               2             225                   2
 ..                            ...             ...                 ...
 138                           175         2599038               25041
 139                           169         2603037               25079
 140                            72         2606445               25112
 141                            65         2609723               25144
 142                            66         2613225               25177

      Antal_nyaintensivvårdade_vecka  Kum_antal_intensivvårdade  \
 0                                 0                          0
 1                                 0                          0
 2                                 0                          0
 3                                 0                          0
 4                                 3                          3
 ..                              ...                        ...
 138                              17                       9510
 139                              20                       9530
 140                              15                       9545
 141                              20                       9565
 142                              14                       9579

      Antal_avlidna_vecka  Antal_avlidna_milj_inv_vecka  Kum_antal_avlidna  \
 0                      0                           0.0                  0
 1                      0                           0.0                  0
 2                      0                           0.0                  0
 3                      0                           0.0                  0
 4                      0                           0.0                  0
 ..                   ...                           ...                ...
 138                   94                           9.1              20405
 139                   98                           9.4              20503
 140                   94                           9.1              20597
 141                   70                           6.7              20667
 142                   37                           3.6              20704

      Kum_antal_avlidna_milj_inv
 0                      0.000000
 1                      0.000000
 2                      0.000000
 3                      0.000000
 4                      0.000000
 ..                          ...
 138                 1965.900024
 139                 1975.400024
 140                 1984.400024
 141                 1991.199951
 142                 1994.699951

 [143 rows x 13 columns],
 'FOHM  3 Nov 2022':                                          Information
 0  Dagliga data uppdateras torsdagar kl 14.00 med...}

---


### Uppgift 4 (bonusuppgift)
Följ länkarna från FHM för att komma till ECDC, WHO och undersök Covid-19 globalt. Dokumentera vad du undersöker och vad du kommer fram till. Notera att du får navigera och läsa till dig i deras hemsidor för att hitta relevant data.